<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <div class="wrapper-bottom">
          <a rel="me" href="https://forms.gle/Ud6wYjPPsMrTSgHq9" target="_blank">
            お仕事のご依頼、ご相談等はこちらのメールフォームからお送りいただけます
          </a>
          <br>
          お気軽にお問い合わせください<br>
          会社勤務と並行して個人業務を行っているため、特に平日日中はお返事が遅くなることをご理解ください
        </div>
      </div>
    </main>

    {%- include footer.html -%}

    {%- include sub-footer.html -%}

  </body>

</html>